/* STYLING FOR HEADER MENU. THIS IS JUST A PLACEHOLDER, AND IS NOT PART OF THE ASSIGNMENT */
    body {
        margin: 0;
        box-sizing: border-box;
        font-family:'PT Sans', sans-serif;
        color: var(--mainBlack);
    }

    header {
        position: relative;
        width: 100vw;
        overflow-x: hidden;
    }

    header img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }



/* ------------ My own styles --------------------*/

/* Color variables */
:root {
    --mainRed: #60082b;
    --mainGreen: #025744;
    --mainYellow: #f8ea8e;
    --mainBlack: #1A1A1A;
    --mainGrey: #666;
    --lightGrey: rgb(236, 236, 236);
    --lightGreen:#047D62;
    --textGrey: #6A6A6A;
  }

.hideForm{
    display: none !important;
}

/* WRAPPER OF ALL COLUMNS */ 
.wine-wrapper{
    padding: 20px 0 40px 0;
    
}
    .wine-wrapper > div > div{
        padding: 40px 24px 32px 40px;
    }

    /* class mobile doesn't show at first instance */
    .mobile{
        display: none;
    }

    /* FIRST COLUMN */  
        /* Wine favourite */
            div.favourite {
                position: absolute;
                width: 28px;
                height: 28px;
                top: 32px;
                left: 52px;
                cursor: pointer;
                background-image: url(../img/icons/favourite.svg);
                background-repeat: no-repeat;
                background-size: cover;
            }
                div.favourite:hover {
                    background-image: url(../img/icons/favouritefilled.svg);
                }

        /* Wine picture */
            div.wine-picture{
                display: flex;
                justify-content: center;
            }
                div.wine-picture > img{
                    width: auto;
                    max-height: 460px;
                }
    /* SECOND COLUMN */        
    .wine-descrip-col{
        align-self: center;
        font-family: 'PT Serif', serif;
    }
        /* "ØKO" */
        .wine-type{
            background-color: #A4AF77;
            color:white;
            border-radius: 6px 6px 6px 6px;
            -moz-border-radius: 6px 6px 6px 6px;
            -webkit-border-radius: 6px 6px 6px 6px;
            border: 0px solid #000000;
            width: 35px;
            font-size: 9px;
            letter-spacing: .8px;
            padding: 4px;
            text-align: center;
            margin: 0;
        }
        /* Wine name */
        .wine-title{
            font: bold 34px 'PT Serif',serif;;
            margin-bottom: 12px;
            margin-top:.5px;
            letter-spacing: .4px;
            font-weight: 500;
        }
        /* Container of tags below the wine title */
        .wine-tags-container{
            display: flex;
        }
            /* Wine Flag */
            .wine-flag>img{
                height: 25px;
                width: 25px;
                border-radius: 200px 200px 200px 200px;
                -moz-border-radius: 200px 200px 200px 200px;
                -webkit-border-radius: 200px 200px 200px 200px;
            }
            /* wine tags */
            .wine-tags-container>li.wine-tag{
                margin-left:15px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-decoration: underline;
                letter-spacing: .8px;
                font-size: 15px;
                color: var(--textGrey);
                cursor: pointer;
            }
            .fa-circle{
                font-size: 5px;
                color: var(--textGrey);
                margin-left: 8px;
            }

            
        /* Wine rating */
        .rating{
            display: flex;
            margin-top: 16px;
            cursor: pointer;
        }
            /* Thumbs up icon */
            .rating > i{
                font-size: 20px;
                color: var(--lightGreen);
            }
            .rating > span{
                font-size: 13px;
                color: var(--textGrey);
                margin-left: 12px;
                font-style: italic;
                letter-spacing: .8px;
            }

        /* Aromas */
        .aromas-container{
            margin-top: 20px; 
        }
            .aromas-container > p{
                font-size: 17px;
                font-weight: 600;
                letter-spacing: .2px;
                color: var(--textGrey);
                margin-bottom: 0px;
            }
            /* Aromas list */
            .aromas-container > ul{
                display: flex;
            }
                .aromas-container > ul > li{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 12px;
                    margin: 0 4px 0 4px;
                }
                    .aromas-container > ul > li > img{
                        max-width: 90px;
                    }
                    .aromas-container > ul > li > p{
                        font-size: 12px;
                        color: var(--textGrey);
                        margin-top: 4px;
                        text-align: center;

                    }


    /* THIRD COLUMN */ 
    .wine-wrapper > div > div.wine-shop-col{
        padding: 0;
        border: solid 1px var(--lightGrey);
        border-radius: 12px 12px 12px 12px;
        -webkit-box-shadow: 0px 0px 8px 0px rgba(236,236,236,1);
        -moz-box-shadow: 0px 0px 8px 0px rgba(236,236,236,1);
        box-shadow: 0px 0px 8px 0px rgba(236,236,236,1);
        max-width: 400px;
        margin-top: 80px;
    }

        /* Discount yellow section */
        .discount-section{
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--mainYellow);
            border-radius: 12px 12px 0 0;
            padding: 12px 20px 12px 20px;
        }
            /* discount amount */
            .discount-section > h3{
                margin: 0;
                font-family: 'PT Serif',serif;
                font-size: 16px;
                line-height: 20px;
            }
            /* discount symbol */
            .discount-svg{
                background-image: url(../img/icons/noun-save.svg);
                height: 20px;
                width: 20px;
                background-repeat: no-repeat;
                background-size: cover;
                margin-right: 8px;
            }

        /* Price Section */
        .price-section{
            display: flex;
            flex-direction: column;
            margin-top:12px;
            padding: 8px 20px 8px 20px;
        }
            /* "Pris per flaske */
            .price-descript{
                color: var(--textGrey);
                margin:0;
                font-size: 12px;
            }
                .price-total{
                    display: flex;
                    align-items: flex-end;
                    font-family: 'PT Serif', serif;
                }
                    .price-final{
                        margin: 0;
                        font-size: 32px;
                        color: var(--mainRed);
                        font-weight: 700;
                        line-height: 32px;
                    }
                    /* Normal price */
                    .old-price{
                        margin: 0 0 0 12px;
                        color: var(--textGrey)
                    }
                        .old-price>span{
                            text-decoration:line-through;
                        }

        /* Stock section */
        .shop-section{
            display: flex;
            flex-direction: column;
            margin-top:8px;
            padding: 0 20px 0 20px;
        }
            .amount-buy{
                display: flex;
                justify-content: space-between;
            }
                .amount{
                    width: 65%;
                }
                    /* Minus and plus buttons */
                    .btn {
                        font-size: 22px;
                        color: var(--mainBlack);
                        height: 52px;
                        font-weight: 500;
                        border: solid 1px var(--lightGrey);
                        border-radius: 22px;
                        padding: 0 16px 0 16px;
                    }
                    .btn:focus{
                        outline: none !important;
                    }
                    /* plus minus */
                    .btn-minuse{
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                    /* plus button */
                    .btn-pluss{
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                    /* Quantity input */
                    .amount-input{
                        font-size: 20px;
                        height: 52px;
                        font-weight: 600;
                        text-align: center;
                        border: solid 1px var(--lightGrey);
                        color: var(--mainBlack);
                    }

                /* Cart buttom*/
                .buy{
                    width: 30%;
                    border-radius: 28px;
                    background-color: var(--mainGreen);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
                .buy:hover{
                    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
                }
                    .cart-svg{
                        background-image: url(../img/icons/icon-inverted-shop-shopping-cart.svg);
                        height: 18px;
                        width: 19px;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
            /* Stock line below cart buttom*/
            .stock{
                font-size: 13px;
                margin: 8px 0 0 0;
                color:var(--textGrey);
                letter-spacing: 0.4px;
                display: flex;
                align-items: center;
            }
                .circle:before {
                    content: ' \25CF';
                    font-size: 24px;
                    margin-right: 4px;
                    color: var(--mainGreen);
                }
    
        /* Other information section */
        .other-info{
            padding: 8px 20px 24px 20px;
        }
            /* Every row from extra order information */
            .other-info>li{
                margin: 8px 0 8px 0;
                color: var(--textGrey);
                display: flex;
                align-items: center;
            }
            .other-info>li>img{
                margin-right:12px;
            }
                .price-guarantee > img{
                    height: 24px;
                    width: 24px;
                }

    /* Form styles*/
    #wine-rating-form {
        position: absolute;
        top: 40%;
        border-radius: 8px 8px 8px 8px;
        -moz-border-radius: 8px 8px 8px 8px;
        -webkit-border-radius: 8px 8px 8px 8px;
        border: 1px solid var(--lightGrey);
        background-color: var(--lightGrey);
        -webkit-box-shadow: 0px 0px 4px 0px rgba(236,236,236,1);
        -moz-box-shadow: 0px 0px 4px 0px rgba(236,236,236,1);
        box-shadow: 0px 0px 4px 0px rgb(206, 201, 201);
        padding: 8px 8px 8px 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .form-group{
        min-width: 240px;
        min-height: 52px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
      }

        .form-group > label{
            font-weight: 500;
            font-family: 'PT Serif', serif;
            font-size: 17px;
        }

        .form-group > textarea{
            margin:16px 0px 4px 0px;
            width: 220px;
            height: 130px;
            border-radius: 8px 8px 8px 8px;
            -moz-border-radius: 8px 8px 8px 8px;
            -webkit-border-radius: 8px 8px 8px 8px;
            padding:8px;
            font-size: 16px;
            border-color: var(--textGrey);
        }
        .form-group > textarea:focus{
            outline: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none
        }
        .form-group > textarea::placeholder {
            color: var(--mainBlack);  
          }
    /* Like buttons container */
      .like-button-wrapper{
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 20px;
      }
        /* Like buttons */
        .like-button{
            border-radius: 22px 22px 22px 22px;
            -moz-border-radius: 22px 22px 22px 22px;
            -webkit-border-radius: 22px 22px 22px 22px;
            background-color:white;
            width: 68px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0;
            margin: 0 8px 0 8px;
        }
            /* Like buttons hands images */
            .like-button-wrapper > button > img{
                width: 36px;
                height: 36px;
                padding:8px
            }
        /* Send button */
        .send-button{
            width: 92%;
            height: 36px;
            margin-top:4px;
            border-radius: 22px 22px 22px 22px;
            line-height: 28px;
            color: white;
            background-color: var(--mainGreen);
            border: none;
            font-weight: 600;
            margin-bottom: 8px;
        }
        /* Thank you button */
        .tak-rating{
            color: var(--mainGreen);
            font-size: 16px;
            cursor: pointer;
            margin-top: 32px;
            margin-bottom: 0;
            font-family: 'PT Serif', serif;
        }
        /* Go Back button */
        .go-back-button{
            margin-bottom: 32px;
            border: none;
            text-decoration: underline;
            line-height: 20px;
            font-family: 'PT Serif', serif;
            font-size: 13px;
        }

        /* Hide Button */
        .hide-button{
            border: 0;
            position:absolute;
            right: 4px;
            top: 4px;
            background-color: transparent;
        }


/* ---------------------- Media Querys ---------------------- */
    /* Medium devices (tablets, 768px until 992px) */
    @media (min-width: 768px) and (max-width: 991.98px) {
        .aromas-container > ul > li > img {
            max-width: 70px;
        }
        .row{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    /* Large devices (desktops, 992px until 1200px) */
    @media (min-width: 992px) and (max-width: 1199.98px) {  
        .form-group {
            min-width: 200px;
            min-height: 48px;
        }
        .wine-shop-col{
            max-width: 360px;
        }
        .form-group > textarea {
            margin-top: 24px;
            width: 200px;
            height: 90px;
        }
    }

    /* Large Devices and up*/
        @media (min-width: 1350px){
            .container {
                width: 1300px;
            }
        }
        
    /* Large devices and down */
    @media (max-width: 991.98px) {
        .rating {
            align-items: baseline;
        }
        .wine-wrapper > div > div.wine-shop-col{
            margin-top: 12px;
        }
        
    }

    /* Medium devices and down */
    @media (max-width: 767.98px) {
        .wine-tags-container {
            justify-content: center;
            justify-content: space-around;
        }
            .wine-tags-container{
                display: none;
            }
            .wine-tags-container>li.wine-tag{
                margin: 0;
            }
            .wine-descrip-col > p.wine-type{
                display:none;
            }
            div.favourite{
                right: 40px;
                left: auto;
            }
            .aromas-container{
                display: none;
            }
            .wine-wrapper > div > div.wine-shop-col{
                margin: auto;
                width:80%;
            }
            .rating {
                justify-content: center;
            }

            .stock {
                font-size: 11px;
                margin: 0;
            }

        /* relocates flag and OKO */
        .mobile{
            display: block;
            position: absolute;
            left: 40px;
        }
        .wine-flag.mobile{
            width: 28px;
            height: 28px;
            top: 20px;
        }
        .wine-type.mobile{
            width: 28px;
            height: 20px;
            top: 52px;
        }

        /* Rating Form */
        #wine-rating-form {
            left: 50%;
            margin-left: -129px; /* Half the width of the form */
        }
    }

    /* Extra small devices and down (portrait phones, less than 576px) */
    @media (max-width: 575.98px) {
        .wine-wrapper > div > div {
            padding: 40px 24px 0px 40px;
        }

        .wine-wrapper > div > div.wine-shop-col{
            margin-top: 30px;
        }

        .wine-title{
            font-size: 24px;
        }
        div.wine-picture > img {
            max-height: 400px;
        }

        .price-total {
           flex-direction: column;
           align-items: flex-start;
        }
            .old-price {
                margin: 8px 0 0 0;
            }
     }


    